$TTL 86400
@   IN  SOA gvp.{{ zone_name }}. root.{{ zone_name }}. (
            {{ zone_serial }} ; Serial
            3600       ; Refresh
            1800       ; Retry
            604800     ; Expire
            86400 )    ; Minimum TTL

@       IN  NS      gvp.{{ zone_name }}.
gvp     IN  A       {{ dns_master_ip }}
gvp     IN  A       192.168.1.70
